<!-- Pathway: C:\Users\jeeks\Documents\Jessica\ME1634\Uppgift_Skivbolaget\project-root\pages\artists.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="artists">
    <h1 class="artists-heading">Artists at <%= companyName %></h1>
    <h1 id="companyName">Test</h1>
    <ul id="artist-list"></ul>
    <div id="artist-bio"></div>

    <script src="/config.js"></script>
    <script src="/js/artists.js"></script>
</body>
</html>

