<!-- Pathway: C:\Users\jeeks\Documents\Jessica\ME1634\Uppgift_Skivbolaget\project-root\pages\index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   </head>
<body>
    <header>
        <h1><%= companyName %></h1>
    </header>
    <main>
        <h2>Discover a World of Music at <%= companyName %></h2>
        <p>Explore a diverse range of artists, genres, and musical experiences at Music World. From rock legends to pop sensations, we have it all.</p>

        <h2>View Artists</h2>
        <p>Click the link below to explore our talented artists and learn more about their musical journeys.</p>
        <a href="./artist">View Artists</a>

        <h2>About Music World</h2>
        <p>Music World is your go-to destination for discovering new music, revisiting classics, and connecting with the vibrant world of artists and genres.</p>

        <h2>Contact Us</h2>
        <p>Have questions or suggestions? Feel free to <a href="mailto:info@musicworld.com">email us</a>. We'd love to hear from you!</p>
    </main>
</body>
</html>
